{{ next_data('discussbot', theme.discussbot) }}
<script>
document.addEventListener('page:loaded', () => {
  if (!CONFIG.page.comments) return;
  NexT.utils.loadComments('#discussbot-container').then(() => {
    const {
      siteid,
      number,
      color,
      dislikes,
      outlined
    } = CONFIG.discussbot;
    NexT.utils.getScript('https://comments.app/js/widget.js?3', {
      attributes: {
        async: true,
        dataset: {
          commentsAppWebsite: siteid,
          limit: number,
          color
        },
        dislikes,
        outlined
      },
      parentNode: document.querySelector('#discussbot-container')
    });
  });
});
</script>
