{%- if page.comments %}
<script>
NexT.utils.loadComments('#discussbot-container', () => {
  const script = document.createElement('script');
  script.src = 'https://comments.app/js/widget.js?3';
  script.setAttribute('data-comments-app-website', '{{ theme.discussbot.siteid | safedump }}');
  script.setAttribute('data-limit', '{{ theme.discussbot.number | safedump }}');
  script.setAttribute('data-color', '{{ theme.discussbot.color | safedump }}');
  script.setAttribute('dislikes', '{{ theme.discussbot.dislikes | safedump }}');
  script.setAttribute('outlined', '{{ theme.discussbot.outlined | safedump }}');
  script.async = true;
  document.querySelector('#discussbot-container').appendChild(script);
});
</script>
{%- endif %}