{{ next_data('discussbot', config.discussbot) }}

<script>
document.addEventListener('page:loaded', () => {
  if (!CONFIG.page.comments) return;

  NexT.utils.loadComments('.discussbot-container')
    .then(() => NexT.utils.getScript('https://comments.app/js/widget.js?3', {
      attributes: {
        async                      : true,
        crossOrigin                : 'anonymous',
        'data-comments-app-website': CONFIG.discussbot.site_id,
        'data-limit'               : CONFIG.discussbot.number,
        'data-color'               : CONFIG.discussbot.color,
        'data-colorful'            : CONFIG.discussbot.colorful,
        'data-dark'                : CONFIG.discussbot.dark,
        'dislikes'                 : CONFIG.discussbot.dislikes,
        'outlined'                 : CONFIG.discussbot.outlined
      },
      parentNode: document.querySelector('.discussbot-container')
    }));
});
</script>
